<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Airplanes.Properties.Settings.Session1_02ConnectionString"
            connectionString="Data Source=DESKTOP-3VD6FR9\COT;Initial Catalog=Session1_02;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>